(
    max_notifications: 4,
    timeout: 10000,
    zero_timeout_behavior: UseDefault,
    poll_interval: 16,
    min_window_width: 430,
    min_window_height: 70,
    notify_on_reload: false,
    trim_whitespace: true,
    debug: false,

    layout_blocks: [
        (
            name: "root",
            parent: "",
            hook: Hook(parent_anchor: TR, self_anchor: TR),
            offset: Vec2(x: -10.0, y: 10.0),
            params: NotificationBlock((
                monitor: -1,
                border_width: 0.0,
                border_rounding: 5.0,
                rounded_border_corners: true,
                background_color: Color(r: 0.055, g: 0.059, b: 0.078, a: 0.8),
                border_color: Color(r: 0.055, g: 0.059, b: 0.078, a: 0.8),
                gap: Vec2(x: 0.0, y: 10.0),
                notification_hook: Hook(parent_anchor: BL, self_anchor: TL),
            )),
        ),

        (
            name: "accent",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ProgressBlock((
                padding: Padding(left: 0.0, right: 0.0, top: 0.0, bottom: 0.0),
                border_width: 0.0,
                border_rounding: 0.0,
                fill_rounding: 0.0,
                border_color: Color(hex: "#e1579c"),
                background_color: Color(hex: "#e1579c"),
                fill_color: Color(hex: "#e1579c"),
                width: 10.0,
                height: -1.0,
            )),
        ),

        (
            name: "image",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 10.0, y: 0.0),
            render_criteria: [AppImage, HintImage],
            params: ImageBlock((
                image_type: AppThenHint,
                padding: Padding(left: 14.0, right: 12.0, top: 14.0, bottom: 14.0),
                rounding: 3.0,
                scale_width: 36,
                scale_height: 36,
                min_width: 62,
                min_height: 64,
                filter_mode: Lanczos3,
            )),
        ),

        (
            name: "summary",
            parent: "image",
            hook: Hook(parent_anchor: TR, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%s",
                font: "CaskaydiaCove Nerd Font Propo Bold 11",
                color: Color(hex: "#ffffff"),
                padding: Padding(left: 16.0, right: 16.0, top: 12.0, bottom: 4.0),
                dimensions: (width: (min: 372, max: 372), height: (min: 0, max: 0)),
                dimensions_image_hint: (width: (min: 328, max: 328), height: (min: 0, max: 0)),
                dimensions_image_app: (width: (min: 328, max: 328), height: (min: 0, max: 0)),
                dimensions_image_both: (width: (min: 328, max: 328), height: (min: 0, max: 0)),
                ellipsize: End,
            )),
        ),

        (
            name: "body",
            parent: "summary",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ScrollingTextBlock((
                text: "%b",
                font: "CaskaydiaCove Nerd Font Propo 11",
                color: Color(hex: "#f2f2f2"),
                color_hovered: Color(hex: "#ffffff"),
                padding: Padding(left: 16.0, right: 16.0, top: 0.0, bottom: 12.0),
                width: (min: 372, max: 372),
                width_image_hint: (min: 328, max: 328),
                width_image_app: (min: 328, max: 328),
                width_image_both: (min: 328, max: 328),
                scroll_speed: 0.12,
                lhs_dist: 24.0,
                rhs_dist: 24.0,
                scroll_t: 1.0,
            )),
        ),

        (
            name: "input_surface",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ProgressBlock((
                padding: Padding(left: 0.0, right: 0.0, top: 0.0, bottom: 0.0),
                border_width: 0.0,
                border_rounding: 5.0,
                fill_rounding: 5.0,
                border_color: Color(r: 0.0, g: 0.0, b: 0.0, a: 0.01),
                background_color: Color(r: 0.0, g: 0.0, b: 0.0, a: 0.01),
                fill_color: Color(r: 0.0, g: 0.0, b: 0.0, a: 0.01),
                width: 430.0,
                height: 70.0,
            )),
        ),
    ],

    shortcuts: ShortcutsConfig (
        notification_interact: 3,
        notification_close: 2,
        notification_action1: 1,
    ),
)
