* {
  font-family: "Atkinson Hyperlegible Mono";
  font-size: 16px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#tray{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 7px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 4px;
  border-width: 0px;
}

#clock{
  background-color: rgba(15,27,53,0.9);
  margin-top: 6px;
  margin-right: 6px;
  padding: 4px 2px;
  border-radius: 0 10px 10px 0;
  border-width: 0px;
}

#pulseaudio,
#custom-lock{
  background-color: rgba(15,27,53,0.9);
  margin-top: 6px; /* 与屏幕顶部留出距离 */
  margin-left: 6px;
  /*margin-bottom: 4px;*/
  padding: 4px 2px; /* 保持内部间距 */
  border-radius: 10px 0 0 10px;
  border-width: 0px;
}

#custom-reboot,
#bluetooth,
#battery,
#backlight,
#custom-temperature,
#memory,
#cpu{
  background-color: rgba(15,27,53,0.9);
  margin-top: 6px; /* 与屏幕顶部留出距离 */
  /*margin-bottom: 4px;*/
  padding: 4px 2px; /* 保持内部间距 */
  border-width: 0px;
}

#custpm-temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

/* 鼠标悬停变亮一点 */
#bluetooth:hover,
#network:hover,
/*#tray:hover,*/
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
/*#workspaces:hover,*/
#window:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

/* 工作区激活状态高亮 */
#workspaces button:hover{
  background-color: rgba(97, 175, 239, 0.2);
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: #61afef; /* 蓝色高亮 */
  color: #ffffff;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

/* 未激活工作区按钮 */
#workspaces button {
  background: transparent;
  border: none;
  color: #888888;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}

#window {
  font-weight: 500;
  font-style: italic;
}
