home/.config/kitty/themes/kitty-themes
home/.config/kitty/themes/theme.conf

home/.config/fish/conf.d/done.fish
home/.config/fish/conf.d/hydro.fish
home/.config/fish/completions/fisher.fish
home/.config/fish/functions/fisher.fish
home/.config/fish/fish_plugins

home/.config/nvim/plugin/packer_compiled.lua

config-backups/

home/.config/qutebrowser/quickmarks
home/.config/qutebrowser/bookmarks/urls
home/.config/qutebrowser/themes
home/.config/qutebrowser/autoconfig.yml

home/.config/rofi/config-dump

home/.config/yazi/flavors

install-scripts/00-*.fish
