# K9s
chezmoi/dot_config/k9s/config.yml

# Chezmoi
chezmoi/dot_config/chezmoi/private_chezmoistate.boltdb

# Weechat
chezmoi/dot_weechat/private_sec.conf
chezmoi/dot_weechat/private_logs
chezmoi/dot_weechat/weechat.log

# Neomutt
chezmoi/dot_config/msmtp/executable_get-personal-key
chezmoi/dot_config/msmtp/executable_get-work-key
chezmoi/dot_config/msmtp/config
chezmoi/dot_config/neomutt/secrets

# Khal
chezmoi/dot_config/vdirsyncer/private_status
chezmoi/dot_config/vdirsyncer/get-personal-url
chezmoi/dot_config/vdirsyncer/get-work-url

# Misc
.DS_Store
plugin/
brew/Brewfile.lock.json
package-lock.json
package.json
