input {
    keyboard {
        xkb {
            layout "us"
        }
    }
}

hotkey-overlay {
    skip-at-startup
}

output "DP-3" {
    scale 1.0
    mode "5120x1440@119.999"
}

output "DP-2" {
    scale 1.5
    mode "3840x2160@59.997"
}

layout {
    gaps 10

    focus-ring {
        off
    }
}

prefer-no-csd

workspace "hidden"

spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "steam" "-silent"
spawn-at-startup "discord" "--start-minimized"
spawn-at-startup "hypridle"
spawn-at-startup "blueman-applet"

spawn-sh-at-startup "~/.config/niri/scripts/set-peripheral-settings.fish"
spawn-sh-at-startup "~/.config/niri/scripts/set-wallpaper.fish"

binds {
    Mod+Space {
        spawn-sh "rofi -show combi -modi 'combi' -combi-modi 'drun,:~/.config/rofi/scripts/power-menu.sh' -display-drun ''"
    }

    Mod+T { spawn "kitty"; }

    Ctrl+Shift+S { spawn-sh "~/.config/niri/scripts/screenshot.fish copy"; }
    Ctrl+Shift+A { spawn-sh "~/.config/niri/scripts/screenshot.fish save"; }
    Ctrl+Shift+D { spawn-sh "~/.config/niri/scripts/screenshot.fish both"; }

    Mod+R { spawn-sh "fish -c ~/.config/niri/scripts/reload-desktop-apps.fish"; }

    Ctrl+Shift+L { spawn "hyprlock"; }

    Mod+B { spawn "rofi-rbw"; }

    Mod+Q { close-window; }
    Mod+V { toggle-window-floating; }
    Mod+F { fullscreen-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Ctrl+H { set-column-width "-5%"; }
    Mod+Ctrl+L { set-column-width "+5%"; }

    Mod+Ctrl+J { set-window-height "+5%"; }
    Mod+Ctrl+K { set-window-height "-5%"; }

    Mod+G { consume-window-into-column; }
    Mod+Shift+G { expel-window-from-column; }

    Mod+C { center-column; }

    Mod+W { focus-workspace-up; }
    Mod+S { focus-workspace-down; }
    Mod+Shift+W { move-window-to-workspace-up; }
    Mod+Shift+S { move-window-to-workspace-down; }
}

window-rule {
    match app-id="feh"
    open-floating true
}

window-rule {
    match title="rbw"
    match app-id="Pinentry-gtk"
    open-floating true
}
