input {
    keyboard {
        xkb {
            layout "us"
        }
    }
}

hotkey-overlay {
    skip-at-startup
}

output "DP-3" {
    scale 1.0
    mode "5120x1440@119.999"
}

output "DP-2" {
    scale 1.5
    mode "3840x2160@59.997"
}

layout {
    gaps 10

    focus-ring {
        off
    }

    default-column-width { proportion 0.8; }

   shadow {
        on
        softness 10
        spread 10
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
        inactive-color "#00000054"
    }
}

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }

    window-open {
        duration-ms 600
        curve "linear"
        custom-shader r"
            vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                float t = niri_clamped_progress;
                float base = 1.0 - t;
                float overshoot = 0.035 * sin(t * 3.14159265) * (1.0 - t);
                float offset_px = (base * 90.0) - (overshoot * 90.0);
                vec2 coords = coords_geo.xy;
                coords.x += offset_px / size_geo.x;
                vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
                vec4 color = texture2D(niri_tex, coords_tex.st);
                color.a *= smoothstep(0.0, 0.18, t);
                return color;
            }
        "
    }

    window-close {
        duration-ms 600
        curve "linear"
        custom-shader r"
            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                float t = niri_clamped_progress;
                float pullback = 0.025 * sin(t * 3.14159265) * (1.0 - t);
                float offset_px = (t * 110.0) - (pullback * 70.0);
                vec2 coords = coords_geo.xy;
                coords.x -= offset_px / size_geo.x;
                vec3 coords_tex = niri_geo_to_tex * vec3(coords, 1.0);
                vec4 color = texture2D(niri_tex, coords_tex.st);
                color.a *= 1.0 - smoothstep(0.55, 1.0, t);
                return color;
            }
        "
    }
}

prefer-no-csd

workspace "hidden"

spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "steam" "-silent"
spawn-at-startup "discord" "--start-minimized"
spawn-at-startup "hypridle"
spawn-at-startup "blueman-applet"

spawn-sh-at-startup "~/.config/niri/scripts/set-peripheral-settings"
spawn-sh-at-startup "~/.config/niri/scripts/set-wallpaper"

binds {
    Mod+Space {
        spawn-sh "rofi -show combi -modi 'combi' -combi-modi 'drun,:~/.config/rofi/scripts/power-menu.sh' -display-drun ''"
    }

    Mod+T { spawn "kitty"; }

    Ctrl+Shift+S { spawn-sh "~/.config/niri/scripts/screenshot copy"; }
    Ctrl+Shift+A { spawn-sh "~/.config/niri/scripts/screenshot save"; }
    Ctrl+Shift+D { spawn-sh "~/.config/niri/scripts/screenshot both"; }

    Mod+D repeat=false { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }

    Mod+R { spawn-sh "~/.config/niri/scripts/reload-desktop"; }

    Ctrl+Shift+L { spawn "hyprlock"; }

    Mod+B { spawn "rofi-rbw"; }

    Mod+Q { close-window; }
    Mod+V { toggle-window-floating; }
    Mod+F { fullscreen-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-to-workspace-down; }
    Mod+Shift+K     { move-window-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Ctrl+H { set-column-width "-5%"; }
    Mod+Ctrl+L { set-column-width "+5%"; }

    Mod+Ctrl+J { set-window-height "+5%"; }
    Mod+Ctrl+K { set-window-height "-5%"; }

    Mod+G { consume-window-into-column; }
    Mod+Shift+G { expel-window-from-column; }

    Mod+C { center-column; }
}

window-rule {
    match app-id="feh"
    open-floating true
}

window-rule {
    match title="rbw"
    match app-id="Pinentry-gtk"
    open-floating true
}

window-rule {
    match app-id="com-azefsw-audioconnect-desktop-app-MainKt"
    open-floating true
}


window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}
