#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"



print_info "\nRestarting services\n"
print_info "\nRestarting vdirsyncer\n"

sudo cp {{ .chezmoi.sourceDir }}/dot_config/vdirsyncer/get-personal-url ~/.config/vdirsyncer 
sudo cp {{ .chezmoi.sourceDir }}/dot_config/vdirsyncer/get-work-url ~/.config/vdirsyncer 

sudo chmod 500 ~/.config/vdirsyncer/get-personal-url
sudo chmod 500 ~/.config/vdirsyncer/get-work-url

mkdir -p ~/.config/vdirsyncer/calendars/personal
mkdir -p ~/.config/vdirsyncer/calendars/work

vdirsyncer discover personal
vdirsyncer discover work

brew services restart vdirsyncer

print_info "\nRestarting yabai\n"
while true
do
      read -r -p "Do you want to restart yabai? [Y/n] " input
 
      case $input in
            [yY][eE][sS]|[yY])
                  brew services restart yabai
                  break
                  ;;
            [nN][oO]|[nN])
                  break
                  ;;
            *)
                  echo "Invalid input..."
                  ;;
      esac      
done

print_info "\nRestarting skhd\n"
brew services restart skhd

print_info "\nRestarting sketchybar\n"
brew services restart sketchybar

print_success "Done!\n"
