#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "Brew bundle\n"
brew bundle --file={{ .chezmoi.sourceDir }}/../brew/Brewfile

print_info "\nInstall pip packages\n"
pip3 install urlscan
