#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nCopy everything into their respective folders"

if [ -d /usr/share/sddm/themes ]; then
    sudo rm -rf /usr/share/sddm/themes/catppuccin-frappe

    sudo cp -r "{{ .chezmoi.sourceDir }}/../sddm/themes/catppuccin-frappe" /usr/share/sddm/themes

    sudo cp "{{ .chezmoi.sourceDir }}/../sddm/sddm.conf" /etc/sddm.conf

    print_success "\nSDDM theme copied.\n"
fi

print_info "\nCopying wallpapers"

if [ -d $HOME/Pictures/wallpapers ]; then
    rm -rf $HOME/Pictures/wallpapers
fi

mkdir $HOME/Pictures/wallpapers

sudo cp {{ .chezmoi.sourceDir }}/../wallpapers/desktop-wallpaper.jpg $HOME/Pictures/wallpapers

sudo convert {{ .chezmoi.sourceDir }}/../wallpapers/login-wallpaper.jpg -filter Gaussian -blur 0x8 /usr/share/sddm/themes/catppuccin-frappe/backgrounds/wall.jpg
