#!/bin/bash

{{- if eq .chezmoi.osRelease.id "arch" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "Installing rofi scripts/modules\n"

yay --needed -S \
    rofi-calc \
    --noconfirm

ROFI_POWER_MENU_VERSION_FILE="/home/bas/.local/bin/rofi-power-menu-version.txt"

if ! [ -f "$ROFI_POWER_MENU_VERSION_FILE" ]; then
    touch $ROFI_POWER_MENU_VERSION_FILE
fi

NEWEST_TAG=$(curl -s "https://api.github.com/repos/jluttine/rofi-power-menu/tags" | jq -r '.[0].name')
CURRENTLY_INSTALLED=$(cat "$ROFI_POWER_MENU_VERSION_FILE")

if [ "$NEWEST_TAG" != "$CURRENTLY_INSTALLED" ]; then
    if [ -d /tmp/rofi-power-menu ]; then
        sudo rm -rf /tmp/rofi-power-menu
    fi

    print_info "Cloning powermenu repo & installing script ($NEWEST_TAG).\n"

    git clone git@github.com:jluttine/rofi-power-menu.git /tmp/rofi-power-menu &> /dev/null

    sudo cp -rf /tmp/rofi-power-menu/rofi-power-menu ~/.local/bin
    echo "$NEWEST_TAG" > "$ROFI_POWER_MENU_VERSION_FILE" 
else 
    print_info "Latest powermenu already installed.\n"
fi

print_success "Done!\n"
{{- end }}
