#!/bin/bash

{{- if eq .chezmoi.os "darwin" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nUpdating brew\n"
brew update

print_info "\nBrew bundle\n"
brew bundle --file={{ .chezmoi.sourceDir }}/../brew/Brewfile

print_info "\nUpgrading last brew packages\n"
brew upgrade

fisher install jorgebucaran/hydro

pip3 install ranger-fm pynvim

print_success "Done!\n"
{{- else if eq .chezmoi.osRelease.id "nobara" }}

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

sudo dnf copr enable atim/lazygit -y
sudo dnf install -y neovim \
    autojump-fish \
    kitty \
    fish \
    lsd \
    bat \
    mc \
    picard \
    cargo \
    code \
    gotop \
    lazygit \
    mpv \
    pavucontrol \
    ranger \
    steam \
    ulauncher \
    qutebrowser \
    i3 \
    i3status \
    i3lock \
    dmenu \
    rofi \
    picom

sudo curl -LSfs https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sudo sh -s -- --git cantino/mcfly --force

curl -L -o ytdl-sub --output-dir ~/.local/bin https://github.com/jmbannon/ytdl-sub/releases/latest/download/ytdl-sub
chmod +x ~/.local/bin/ytdl-sub

pip install timer-cli

print_success "Done!\n"

{{- else if eq .chezmoi.osRelease.id "arch" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nUpdating all packages and installing defaults...\n"

sudo pacman -Syu --noconfirm

sudo pacman -Qdtq | sudo pacman -Rs --noconfirm -

if ! command -v yay &> /dev/null
then
    bash -c 'rm -rf /tmp/yay ; mkdir -p /tmp/yay ; cd /tmp/yay ; wget https://aur.archlinux.org/cgit/aur.git/snapshot/yay.tar.gz ; tar zxvf yay.tar.gz ; cd yay ; makepkg --syncdeps --rmdeps --install --noconfirm'
fi

yay --needed -S \
    neovim \
    fish \
    kitty \
    lsd \
    bat \
    xclip \
    mc \
    firewalld \
    solaar \
    lazygit \
    pulsemixer \
    bitwarden \
    npm \
    cronie \
    steam \
    speedtest-cli \
    pacman-contrib \
    python-pip \
    ranger \
    python-pillow \
    python-pynvim \
    ueberzug \
    qutebrowser \
    i3 \
    i3lock \
    dmenu \
    rofi \
    picom \
    ripgrep \
    polybar \
    zsa-keymapp-bin \
    notify-osd \
    ttf-jetbrains-mono \
    --noconfirm

if ! command -v cargo &> /dev/null
then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

if ! command -v et &> /dev/null
then
    cargo install erdtree
fi

if ! command -v zoxide &> /dev/null
then
    curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
fi

{{- end }}


if ! command -v mcfly &> /dev/null
then
    sudo bash -c 'curl -LSfs https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sh -s -- --git cantino/mcfly'
fi

print_success "Done!\n"
