#!/opt/homebrew/bin/fish

echo "\nSetting environment variables\n"

set -Ux XDG_CONFIG_HOME ~/.config
set -Ux OBJC_DISABLE_INITIALIZE_FORK_SAFETY YES
set -Ux SHELL /opt/homebrew/bin/fish
set -Ux WEECHAT_HOME ~/.config/weechat/
set -Ux WEGORC ~/.config/wego/wegorc

echo "Done!\n"
