#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

rm ~/.config/sketchybar/sketchybarrc
rm ~/.config/sketchybar/plugins/battery.sh
rm ~/.config/sketchybar/plugins/clock.sh

brew services stop sketchybar

print_success "Sketchybar cleaned and stopped!\n"
