#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nDownloading jetbrains mono\n"

mkdir /tmp/jetbrains-mono

wget -P /tmp/jetbrains-mono https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/JetBrainsMono.zip

{{- if eq .chezmoi.os "darwin" }}

unzip /tmp/jetbrains-mono/JetBrainsMono.zip -d $HOME/Library/Fonts

{{- end }}
