#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nSetting environment variables\n"

export XDG_CONFIG_HOME=~/.config
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export SHELL=/opt/homebrew/bin/fish

print_success "Done!\n"
