#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nInstalling homebrew\n"

if command -v brew >/dev/null 2>&1; then
    print_warning "Homebrew already installed, skipping.\n"
    exit 0
fi

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

print_success "Done!\n"
