#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

pip3 install websocket-client

export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

print_success "Weechat setup!\n"
print_info "Don't forget to generate your slack token manually.\n"
