#!/usr/bin/env fish

echo "Setting environment variables"

set -Ux XDG_CONFIG_HOME ~/.config
set -Ux OBJC_DISABLE_INITIALIZE_FORK_SAFETY YES
set -Ux SHELL $(which fish)
set -Ux VISUAL nvim
set -Ux EDITOR nvim

echo "Done!"
