#!/bin/bash

{{- if eq .chezmoi.osRelease.id "arch" }}

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "Copy everything into their respective folders\n"

if [ -d /usr/share/sddm/themes ]; then
    sudo rm -rf /usr/share/sddm/themes/catppuccin-frappe

    sudo cp -r "{{ .chezmoi.sourceDir }}/../arch-files/sddm/themes/catppuccin-frappe" /usr/share/sddm/themes

    sudo cp "{{ .chezmoi.sourceDir }}/../arch-files/sddm/sddm.conf" /etc/sddm.conf

    print_success "SDDM theme copied.\n"
fi

print_success "Done!\n"

print_info "Copying wallpapers\n"

if [ -d $HOME/Pictures/wallpapers ]; then
    rm -rf $HOME/Pictures/wallpapers
fi

mkdir $HOME/Pictures/wallpapers

sudo cp {{ .chezmoi.sourceDir }}/../wallpapers/desktop-wallpaper.jpg $HOME/Pictures/wallpapers

sudo convert {{ .chezmoi.sourceDir }}/../wallpapers/desktop-wallpaper.jpg -filter Gaussian -blur 0x8 /usr/share/sddm/themes/catppuccin-frappe/backgrounds/wall.jpg

print_success "Done!\n"

print_info "Clone & install catppuccin kitty theme\n"

if [ -d /tmp/kittycatppuccin ]; then
    sudo rm -rf /tmp/kittycatppuccin
fi

git clone git@github.com:catppuccin/kitty.git /tmp/kittycatppuccin &> /dev/null

cp -rf /tmp/kittycatppuccin/themes/mocha.conf ~/.config/kitty/themes

print_success "Done!\n"

{{- end }}
