#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nFinished copying dotfiles & running all scripts."
print_info "\nIt is recommended to restart the computer in order for all changes to take effect."
print_success "\nHave a nice day!"
