#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nUpdating brew\n"
brew update

print_info "\nBrew bundle\n"
brew bundle --file={{ .chezmoi.sourceDir }}/../brew/Brewfile

print_info "\nUpgrading last brew packages\n"
brew upgrade

print_success "Done!\n"
{{- else if eq .chezmoi.osRelease.id "nobara" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

sudo dnf copr enable atim/lazygit -y
sudo dnf install -y lazygit
sudo dnf install -y neovim \
   autojump-fish \
   kitty \
   fish \
   lsd \
   bat \
   mc

sudo curl -LSfs https://raw.githubusercontent.com/cantino/mcfly/master/ci/install.sh | sudo sh -s -- --git cantino/mcfly --force

print_success "Done!\n"
{{- else if eq .chezmoi.osRelease.id "arch" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

sudo pacman -Syu --noconfirm

sudo pacman -Qdtq | sudo pacman -Rs --noconfirm -

sudo pacman --needed -S \
    neovim \
    fish \
    kitty \
    lsd \
    bat \
    xclip \
    mc \
    firewalld \
    solaar \
    lazygit \
    pulsemixer \
    discord \
    npm \
    cronie \
    steam \
    speedtest-cli \
    pacman-contrib \
    python-pip \
    --noconfirm

if ! command -v cargo &> /dev/null
then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

if ! command -v et &> /dev/null
then
    cargo install erdtree
fi

if ! command -v zfxtop &> /dev/null
then
    curl -sSL raw.githubusercontent.com/ssleert/zfxtop/master/install.sh | sh
fi

if ! command -v calcure &> /dev/null
then
    pip install calcure
fi

flatpak install flathub com.synology.SynologyAssistant -y

{{- end }}
