#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "\nSetting up yabai\n"

# Because the yabai brew service changes permissions of the files, I couldn't get a solid way of applying this correctly.
# That's why I have to do it manually.
cp {{ .chezmoi.sourceDir }}/dot_config/yabai/yabairc ~/.config/yabai

while true
do
      read -r -p "Do you want to restart the yabai service? [Y/n] " input

      case $input in
            [yY][eE][sS]|[yY])
                  brew services restart yabai
                  break
                  ;;
            [nN][oO]|[nN])
                  print_warning "Not restarting yabai.\n"
                  break
                  ;;
            *)
                  echo "Invalid input..."
                  ;;
      esac      
done


print_success "Done!\n"
