#!/bin/bash

{{- if eq .chezmoi.osRelease.id "arch" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

print_info "Tweaking arch settings...\n"

# Disable xorg from hibernating pc

xset s off
xset -dpms

print_success "Done\n"

print_info "Copying misc files apart from dotfiles...\n"

sudo cp -rf {{ .chezmoi.sourceDir }}/../arch-files/etc/pacman.conf /etc/pacman.conf

print_success "Done\n"

{{- end }}
