#!/bin/bash

. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

# Because the sketchybar brew service changes permissions of the files, I couldn't get a solid way of applying this correctly.
# That's why I have to do it manually.
cp {{ .chezmoi.sourceDir }}/dot_config/sketchybar/sketchybarrc ~/.config/sketchybar/
cp {{ .chezmoi.sourceDir }}/dot_config/sketchybar/plugins/* ~/.config/sketchybar/plugins/

# Set exec permissions for all plugins
find ~/.config/sketchybar/plugins/ -type f -name "*.*" -exec chmod 775 {} \;

brew services restart sketchybar

print_success "Sketchybar setup!\n"
