#!/bin/bash

{{- if eq .chezmoi.osRelease.id "arch" }}
. "{{ .chezmoi.sourceDir }}/../scripts/utils.sh"

# Disable screen sleep
xset -dpms
xset s off

print_info "Copying configuration files\n"

sudo cp -rf {{ .chezmoi.sourceDir }}/../arch-files/etc/pacman.conf /etc/pacman.conf

print_success "Done\n"
print_info "Enabling and starting systemd services\n"

sudo cp -rf {{ .chezmoi.sourceDir }}/../arch-files/etc/systemd/system/* /etc/systemd/system/

TIMER_ISACTIVE=$(sudo systemctl is-active system-backup.timer)
SERVICE_ISACTIVE=$(sudo systemctl is-active system-backup.service)

print_info "Systemctl daemon-reload\n"
sudo systemctl daemon-reload

if [ "$TIMER_ISACTIVE" != "active" ]; then
    print_info "Starting system backup systemd timer\n"
    sudo systemctl enable --now system-backup.timer
fi

if [ "$SERVICE_ISACTIVE" != "active" ]; then
    print_info "Starting system backup systemd service\n"
    sudo systemctl enable --now system-backup.service
fi

print_success "Done\n"

{{- end }}
