* {
  font-family: "Atkinson Hyperlegible Mono";
  font-size: 16px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

/* Left modules, in order */
#cpu{
  background-color: rgba(68, 68, 68, 0.53);
  border-radius: 4px 0px 0px 0px;
  margin: 6px 0px 0px 6px;
  padding: 7px 7px 7px 20px;
}

#memory{
  background-color: rgba(68, 68, 68, 0.53);
  border-radius: 0px 4px 4px 0px;
  margin: 6px 0px 0px 0px;
  padding: 7px 20px 7px 7px;
}

#pulseaudio{
  background-color: rgba(68, 68, 68, 0.53);
  margin: 6px 0px 0px 6px;
  padding: 7px 7px 7px 20px;
  border-radius: 4px 0px 0px 4px;
}

#custom-pulseaudio-description{
  background-color: rgba(68, 68, 68, 0.53);
  margin-top: 6px;
  padding: 7px 20px 7px 7px;
  border-radius: 0px 4px 4px 0px;
}

/* Center modules, in order */
#taskbar{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 7px;
  margin: 6px;
  border-radius: 4px;
}

/* Right modules, in order */
#tray{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 7px;
  margin: 6px 0px 0px 6px;
  border-radius: 4px 0px 0px 4px;
}

#clock{
  background-color: rgba(68, 68, 68, 0.53);
  margin: 6px 6px 0px 0px;
  padding: 7px;
  border-radius: 0px 4px 4px 0px;
}

