* {
  font-family: "Atkinson Hyperlegible Mono";
  font-size: 16px;
  color: #dcdfe1;
  border-radius: 0px;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

/* Left modules, in order */
#cpu{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#memory{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#custom-gpu-usage{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#pulseaudio{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#custom-pulseaudio-description{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

/* Center modules, in order */
#taskbar{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

/* Right modules, in order */
#tray{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#bluetooth {
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#battery{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#clock{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}

#custom-notifications{
  background-color: rgba(68, 68, 68, 0.53);
  padding: 4px;
}
