* {
    font-size: 15px;
    font-family: "CaskaydiaCove Nerd Font Propo";
    color: @silver;
}

window#waybar {
    all: unset;
}

.modules-left>widget>label.module,
.modules-left>widget>box.module,
.modules-right>widget>label.module,
.modules-right>widget>box.module {
    padding: 7px 12px;
    border-radius: 6px;
    background: alpha(@background, .55);
}

.modules-left>widget>label.module,
.modules-left>widget>box.module {
    margin: 6px 0 6px 10px;
}

.modules-right>widget>label.module,
.modules-right>widget>box.module {
    margin: 6px 10px 6px 0;
}
