* {
    font-size: 15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar{
    all:unset;
}

.modules-right > widget > label.module,
.modules-right > widget > box.module {
    padding: 7px 11px;
    margin: 5px 10px 0 0;
    border-radius: 3px;
    background: alpha(@background, .6);
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
}
