#cpu,
#memory,
#temperature {
    padding: 0px 5px;
}

#battery.warning:not(.charging) {
    color: #c9b687;
}

#battery.critical:not(.charging) {
    color: @accent;
}

#cpu {
    padding-left: 15px;
}

#custom-divider {
    color: alpha(@muted, .6);
    padding: 0 5px;
    font-size: 18px;
}

#workspaces {
    padding: 4px 7px;
}

#workspaces button {
    all: unset;
    padding: 0 4px;
    color: @subtext;
    transition: color .25s ease, text-shadow .25s ease;
}

#workspaces button.empty {
    color: alpha(@subtext, .40);
}

#workspaces button.active,
#workspaces button.focused {
    color: @accent;
    text-shadow: 0 0 8px alpha(@accent, .55);
}

#pulseaudio-slider {
    padding: 0 1px 0 14px;
    margin: 0;
}

#pulseaudio-slider slider {
    min-height: 2px;
    min-width: 2px;
    background-image: none;
    border: none;
    background: @silver;
    box-shadow: 0 0 0 1px alpha(@background, .8);
}

#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 100px;
    border-radius: 4px;
    background: alpha(@silver, .16);
}

#pulseaudio-slider highlight {
    min-width: 8px;
    border-radius: 4px;
    background: @silver;
}
