[Desktop Entry]
Comment[en_US]=Text and voice chat for gamers.
Comment=Text and voice chat for gamers.
Exec=/opt/discord/Discord --start-minimized
GenericName[en_US]=
GenericName=
Hidden=false
Icon=/opt/discord/discord.png
MimeType=
Name[en_US]=Discord
Name=Discord
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
