[Desktop Entry]
Type=Application
Exec=/home/bas/.config/polybar/launch.sh
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Polybar
Comment=Start Polybar on login
