[Unit]
Description=Run backup-system daily

[Timer]
OnBootSec=1min
OnCalendar=daily
Persistent=true
Unit=backup-system.service

[Install]
WantedBy=timers.target
